.button {
    @apply  py-2 px-3 primary-gradient
     text-[#d06e14] font-bold text-xl transition-all duration-200
       ease-in-out cursor-pointer;
     box-shadow: -1px 3px 0 #b23909;

     &:hover {
        @apply text-brown-600;
        box-shadow: 0 2px 0 #b23909;
     }

    &.secondary {
        @apply secondary-gradient text-[#efa145];
        box-shadow: -1px 3px 0 #642206;

    &:hover {
        @apply text-yellow-500;
        box-shadow: 0 2px 0 #642206;
    }
    }

    &.gray { 
        @apply gray-gradient;
        box-shadow: 0 2px 0 #434343;

        &:hover {
            box-shadow: 0 2px 0 #434343;
        }
    }

    &.disabled {
        @apply grayscale cursor-not-allowed;
        box-shadow: none;
    }

    &.circle{
        @apply rounded-full py-3 px-3;
    }
}